<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="CodeGenerators">
      <directory>tests/CodeGenerators</directory>
    </testsuite>
    <testsuite name="EthereumPhp">
      <directory>tests/EthTest/Unit</directory>
    </testsuite>
    <testsuite name="TestEthClient">
      <directory>tests/TestEthClient/Unit</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="SERVER_URL" value="https://mainnet.infura.io/v3/a6e34ed067c74f25ba705456d73a471e"/>
    <env name="NETWORK_ID" value="5777"/>
  </php>
</phpunit>
